.env
*.pyc
App/app/app/__pycache__/
App/app/suite/__pycache__/
App/app/db.sqlite3
*.pyc
*.sdi
*.ibd
*.CSM
*.CSV
*.pem
App/app/mysql-data/ib_logfile1
App/app/mysql-data/ib_logfile0
*.ibt
*.dblwr
*.cnf
App/app/mysql-data/binlog.000001
App/app/mysql-data/binlog.000002
App/app/mysql-data/binlog.index
App/app/mysql-data/ib_buffer_pool
App/app/mysql-data/ibdata1
App/app/mysql-data/ibtmp1
App/app/mysql-data/undo_001
App/app/mysql-data/undo_002
*.pyc
*.pyc
*.pyc
App/app/mysql-data/\#innodb_redo/\#ib_redo10_tmp

*.idea
*.pyc
App/app/Modelo_entrenado/*
Services/IA/entorno/*
Services/IA/aplicacionIA/Modelo_entrenado/*
Services/IA/aplicacionIA/output/*
output/*