.env
*.pyc
App/app/app/__pycache__/
App/app/suite/__pycache__/
App/app/db.sqlite3
*.pyc
*.sdi
*.ibd
*.CSM
*.CSV
*.pem
App/app/mysql-data/ib_logfile1
App/app/mysql-data/ib_logfile0
*.ibt
*.dblwr
*.cnf
App/app/mysql-data/binlog.000001
App/app/mysql-data/binlog.000002
App/app/mysql-data/binlog.index
App/app/mysql-data/ib_buffer_pool
App/app/mysql-data/ibdata1
App/app/mysql-data/ibtmp1
App/app/mysql-data/undo_001
App/app/mysql-data/undo_002
*.pyc
*.pyc
*.pyc
App/app/mysql-data/\#innodb_redo/\#ib_redo10_tmp

*.idea
*.pyc
App/app/Modelo_entrenado/config.cfg
App/app/Modelo_entrenado/meta.json
App/app/Modelo_entrenado/ner/cfg
App/app/Modelo_entrenado/ner/model
App/app/Modelo_entrenado/ner/moves
App/app/Modelo_entrenado/tok2vec/cfg
App/app/Modelo_entrenado/tok2vec/model
App/app/Modelo_entrenado/tokenizer
App/app/Modelo_entrenado/vocab/key2row
App/app/Modelo_entrenado/vocab/lookups.bin
App/app/Modelo_entrenado/vocab/strings.json
App/app/Modelo_entrenado/vocab/vectors
App/app/Modelo_entrenado/vocab/vectors.cfg
App/app/output/model-best/config.cfg
App/app/output/model-best/meta.json
App/app/output/model-best/ner/cfg
App/app/output/model-best/ner/model
App/app/output/model-best/ner/moves
App/app/output/model-best/tok2vec/cfg
App/app/output/model-best/tok2vec/model
App/app/output/model-best/tokenizer
App/app/output/model-best/vocab/key2row
App/app/output/model-best/vocab/lookups.bin
App/app/output/model-best/vocab/strings.json
App/app/output/model-best/vocab/vectors
App/app/output/model-best/vocab/vectors.cfg
App/app/output/model-last/config.cfg
App/app/output/model-last/meta.json
App/app/output/model-last/ner/cfg
App/app/output/model-last/ner/model
App/app/output/model-last/ner/moves
App/app/output/model-last/tok2vec/cfg
App/app/output/model-last/tok2vec/model
App/app/output/model-last/tokenizer
App/app/output/model-last/vocab/key2row
App/app/output/model-last/vocab/lookups.bin
App/app/output/model-last/vocab/strings.json
App/app/output/model-last/vocab/vectors
App/app/output/model-last/vocab/vectors.cfg
