{% extends 'base.html' %}

{% block title %}Artefactos del proyecto{% endblock %}
{% block head %}
    {{ super }}
    <link rel="stylesheet" href="./css/botton.css" />
    {% endblock %}
{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  {% if ok %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Artifact Name</th>
        <th scope="col">Type</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for p in artifacts %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{p.nombre}}</td>
        <td>{{p.tipoDeArtefacto}}</td>
        <td><a href="{% url 'modificarArtefactos' p.id idP%}">Modificar</a> | <a href="{% url 'destruirArtefactos' p.id idP%}">Eliminar</a></td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>

  {% else %}
  <h3>No tienes Artefactos</h3>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
  <button class="btn btn-primary mt-2" type="submit">Submit</button>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}