{% extends 'base.html' %}

{% block title %}Artefactos del proyecto{% endblock %}
{% block head %}
    {{ super }}
    <link rel="stylesheet" href="./css/botton.css" />
    {% endblock %}
{% block content %}
{% if user.is_authenticated %}
  {% if ok %}
  <div class="d-flex d-inline-block">
    <form method="get">
      <div class="d-flex d-inline-block">
      {{ formB.as_table }}
    <button class="btn btn-primary"  type="submit">Buscar</button>
  </div>
    </form>
    <a class="btn btn-primary" href="{% url 'artefactos' idP%} ">Limpiar</a>
  </div>
  <form method="get">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Artifact Name</th>
        <th scope="col">Type</th>
        <th scope="col">Actions</th>
        <th scope="col">Seleccionado</th>
      </tr>
    </thead>
    <tbody>
      {% for p in artifacts %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{p.nombre}}</td>
        <td>{{p.tipoDeArtefacto}}</td>
        <td><a href="{% url 'modificarArtefactos' p.id idP%}">Modificar</a> | <a href="{% url 'destruirArtefactos' p.id idP%}">Eliminar</a></td>
        <td><input type="checkbox" id="{{p.id}}" value="{{p.id}}" name="seleccionados"></td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
  {% for b in botones %}
  <button class="btn btn-primary mt-2" name="{{b.cod}}" href="{% url 'artefactos' id=idP%}" type="submit">{{b.nombre}}</button>
  {% endfor %}
 </form>

  {% else %}
  <h3>No tienes Artefactos</h3>
  {% endif %}
  <h3>Crear Artefacto</h3>
  <p>Elije el tipo de artefacto que quiere crear</p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
  <button class="btn btn-primary mt-2" type="submit">Submit</button>
</form>
{% else %}
<div style="background-color:#1F1D4F; height: 100vh">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center fondoFlores py-5"> 
      <div class="col-md-8 col-lg-6 col-xl-4 shadow-lg p-5 my-5 bg-white rounded ">
        <div class="loginform">
          <div class="d-flex justify-content-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Padlock-lightblue.svg" alt="...">
          </div>
          <p>You are not logged in</p>
          <a class="btn btn-primary form-control" href="{% url 'login' %}">Log In</a>
        </div>
      </div>
    </div>
</div>
</div>
{% endif %}
{% endblock %}