<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block title %}Ngrmas{% endblock %}
{% block head %}
    {{ super }}
    <link rel="stylesheet" href="./css/botton.css" />
    {% endblock %}
{% block content %}
{% if user.is_authenticated %}
{{ ngramas | json_script:"ngram" }}
<form method="get">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Clase</th>
          <th scope="col">Ngramas detectados</th>
        </tr>
      </thead>
      <tbody>
        {% for n in ngramas %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{n.0}}</td>
          <td id="{{n.0}}">
            {% for op in n.1 %}
            <div class="form-check form-check-inline" >
                <input class="form-check-input" type="radio" name="{{n.0}}" id = "{{ forloop.counter }}" value="{{op}}">
                <label class="form-check-label" for="{{ forloop.counter }}">{{op}}</label>
                
              </div>
              {% endfor %}
              <button class="btn btn-primary mt-2" id="add_{{n.0}}" onclick="agregarData('{{n.0}}')" href="#" type="button">Agregar Opcion</button>
          </td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
    <button class="btn btn-primary mt-2" name="Procesar" href="#" type="submit">Enviar</button>

  </form>


{% else %}
<div style="background-color:#1F1D4F; height: 100vh">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center fondoFlores py-5"> 
      <div class="col-md-8 col-lg-6 col-xl-4 shadow-lg p-5 my-5 bg-white rounded ">
        <div class="loginform ">
          <div class="d-flex justify-content-center">
          <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Padlock-lightblue.svg" alt="...">
        </div>
          <p>You are not logged in</p>
          <a class="btn btn-primary form-control" href="{% url 'login' %}">Log In</a>
        </div>
      </div>
    </div>
</div>
</div>

  
{% endif %}
<script type="module" src="{% static 'scripts/ngramas.js' %}"></script>
<script >
  function agregarData(label){
    console.log(label)
    //console.log("HOLA MUNDO")
    var datos = JSON.parse(document.getElementById('ngram').textContent);
    //console.log(datos)
    let input = prompt("Por favor inserte su opcion", "Opcion");
    optiones = document.getElementById(label)
    div = document.createElement("div");
    div.className="form-check form-check-inline"
    optiones.removeChild(optiones.lastChild)
    optiones.removeChild(optiones.lastChild)
    optiones.appendChild(div)
    ratio = document.createElement("input");
    ratio.className="form-check-input"
    ratio.type = "radio"
    ratio.setAttribute('type','radio')
    ratio.name = label
    ratio.value = input
    lab = document.createElement("label");
    lab.className = "form-check-label"
    lab.value = input
    lab.innerHTML = input
    div.appendChild(lab)
    div.appendChild(ratio)
}
</script>
{% endblock %}
