{% extends 'base.html' %} {% load crispy_forms_tags %} {% load static %}
{% block title %}Projects{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<script type="module" src="{% static 'scripts/graficarArbol.js' %}"></script>
<input hidden id="scenario" value="{{scenario}}">
<div class="container text-end" style="padding-top: 50px; margin-bottom: 40px;">
  <button class="btn btn-primary" id="exportar" onclick="exportar()">
    Exportar
  </button>
</div>
<div id="grafico" style="justify-content: center; display: block;"></div>
{% else %}
<div style="background-color: #1f1d4f; height: 100vh">
  <div class="container-fluid h-custom">
    <div
      class="row d-flex justify-content-center align-items-center fondoFlores py-5"
    >
      <div
        class="col-md-8 col-lg-6 col-xl-4 shadow-lg p-5 my-5 bg-white rounded"
      >
        <div class="loginform">
          <div class="d-flex justify-content-center">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/9/93/Padlock-lightblue.svg"
              alt="..."
            />
          </div>
          <p>You are not logged in</p>
          <a class="btn btn-primary form-control" href="{% url 'login' %}"
            >Log In</a
          >
        </div>
      </div>
    </div>
  </div>
  {% endif %}  
  {% endblock %}
</div>
