{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Projects{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{{ tipo | json_script:"tipo" }}
{{form.media}}

{% if no_escribir %}
<div id="concurrencia" class="alert alert-warning">
  <h5>Someone updated the data while you were editing it. Press cancel to see the current data. 
    </h5>
</div>
{% endif %}
{% if tipo != "ProjectFile" %}
{{ campos | json_script:"fields" }}

<form method="post">
{%else%}
<button id="botonTemplate" class="btn btn-outline-primary my-2" >Obtener template</button>
<form method="post" enctype="multipart/form-data">
{% endif %}
      <div>
        {% csrf_token %}
        {{ form | crispy }}
      </div>
<br>
<div id="advertencias" class="alert alert-warning"></div>
    <div class="d-flex ">
    {% if not no_escribir %}
    <button class="btn btn-primary mt-2" type="submit">Save</button>
    {% endif %}
    <a class="btn btn-primary mt-2" href="{% url 'modificarArtefactos' id idP%}" >Cancel</a>
    <button class="btn btn-primary mt-2" type="button" id="corrector" >Check</button>
    </div>
    </form>
{% else %}
<div style="background-color:#1F1D4F; height: 100vh">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center fondoFlores py-5"> 
      <div class="col-md-8 col-lg-6 col-xl-4 shadow-lg p-5 my-5 bg-white rounded ">
        <div class="loginform">
          <div class="d-flex justify-content-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Padlock-lightblue.svg" alt="...">
          </div>
          <p>You are not logged in</p>
          <a class="btn btn-primary form-control" href="{% url 'login' %}">Log In</a>
        </div>
      </div>
    </div>
</div>
</div>
{% endif %}
{% load static %}
<script src="{% static 'ctxmenu/ctxmenu.js' %}"></script>
<script type="module" src="{% static 'scripts/reglasChequeoMain.js' %}"></script>
<script type="module" src="{% static 'scripts/reglasChequeoClasses.js' %}"></script>
<script type="module" src="{% static 'scripts/alertasDeReglas.js' %}"></script>
<script type="module" src="{% static 'scripts/getXLSXTemplate.js' %}"></script>

{% endblock %}
