{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Proyectos{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{{ tipo | json_script:"tipo" }}
{{ campos | json_script:"fields" }}
    <form method="post">
      <div>
        {% csrf_token %}
        {{ form | crispy }}
      </div>
    <button class="btn btn-primary mt-2" type="submit">Submit</button>
    </form>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% load static %}
<script src="{% static 'ctxmenu/ctxmenu.js' %}"></script>
<script type="module" src="{% static 'scripts/reglasChequeoMain.js' %}"></script>
<script type="module" src="{% static 'scripts/reglasChequeoClasses.js' %}"></script>
{% endblock %}
