{% extends 'base.html' %}

{% block title %}Proyectos{% endblock %}
{% block head %}
    {{ super }}
    <link rel="stylesheet" href="./css/botton.css" />
    {% endblock %}
{% block content %}
{% if user.is_authenticated %}
  {% if ok %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Proyect Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for p in proyectos %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{p.titulo}}</td>
        <td><a href="{% url 'destruirProyecto' p.id%}">Eliminar</a> | <a href="{% url 'modificarProyecto' p.id%}">Modificar</a> | <a href="{% url 'artefactos' p.id%}">Artefactos</a></td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>

  {% else %}
  <h3>No tienes proyectos</h3>
  {% endif %}
  <p><a class="btn btn-primary" href="{% url 'crearProyecto' %}">Crear Proyecto</a></p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
<div style="background-color:#1F1D4F; height: 100vh">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center fondoFlores py-5"> 
      <div class="col-md-8 col-lg-6 col-xl-4 shadow-lg p-5 my-5 bg-white rounded ">
        <div class="loginform">
          <img src="https://www.mememaker.net/static/images/memes/4806874.jpg" alt="...">
          <p>You are not logged in</p>
          <a class="btn btn-primary form-control" href="{% url 'login' %}">Log In</a>
        </div>
      </div>
    </div>
</div>
</div>
{% endif %}
{% endblock %}