{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Detector de Entidades{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{{ tipo | json_script:"tipo" }}



<h3>CLUSTER ENCONTRADO</h3>
{% for p in cluster %}
<ul>{{p}}</ul>
{% endfor %}
<h3>LISTA DE ARTEFACTOS</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Artifact Name</th>
      <th scope="col">cluster</th>
    </tr>
  </thead>
  <tbody>
{% for p in arte %}
<tr>
  <th scope="row">{{ forloop.counter }}</th>
        <td>{{p.1.nombre}}</td>
        <td>{{p.0}}</td>
</tr>
     
{% endfor %}



{% else %}
<div style="background-color:#1F1D4F; height: 100vh">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center fondoFlores py-5"> 
      <div class="col-md-8 col-lg-6 col-xl-4 shadow-lg p-5 my-5 bg-white rounded ">
        <div class="loginform">
          <div class="d-flex justify-content-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Padlock-lightblue.svg" alt="...">
          </div>
          <p>You are not logged in</p>
          <a class="btn btn-primary form-control" href="{% url 'login' %}">Log In</a>
        </div>
      </div>
    </div>
</div>
</div>
{% endif %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cargando.scss' %}">
{% endblock %}

