{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Detector de Entidades{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{{ tipo | json_script:"tipo" }}



<form method="post">
<div>
  {% csrf_token %}
  {{ form | crispy }}
</div>
  <button class="btn btn-primary mt-2" type="submit">DesAmbiguar</button>
  <button class="btn btn-primary mt-2" type="button" onClick="dispararTaggeo('Actor')">Seleccionar</button>
  <button class="btn btn-primary mt-2" type="button" onClick="limpiar()">Clear</button>
</form>
{% for ans in def %}
<ul>{{ans}}</ul>
{% endfor %}

{% else %}
<div style="background-color:#1F1D4F; height: 100vh">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center fondoFlores py-5"> 
      <div class="col-md-8 col-lg-6 col-xl-4 shadow-lg p-5 my-5 bg-white rounded ">
        <div class="loginform">
          <div class="d-flex justify-content-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Padlock-lightblue.svg" alt="...">
          </div>
          <p>You are not logged in</p>
          <a class="btn btn-primary form-control" href="{% url 'login' %}">Log In</a>
        </div>
      </div>
    </div>
</div>
</div>
{% endif %}
{% load static %}
<script src="{% static 'scripts/seleccionDesambiguar.js' %}"></script>
{% endblock %}

