{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Detector de Entidades{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{{ tipo | json_script:"tipo" }}



<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2018%2F05%2F08%2F08%2F46%2Fartificial-intelligence-3382509_1280.png&f=1&nofb=1&ipt=b90a6e10100439a211f465a211cf1d64f5c016a52d286f6bcdac895ea5516d9a&ipo=images" alt="...">
<br>
<a class="btn btn-primary mt-2" href="{% url 'IA' %}">Ir Probar IA</a>
<a class="btn btn-primary mt-2" href="{% url 'IATag' %}">Construir DataSet</a>
<a class="btn btn-primary mt-2" href="{% url 'IATrain' %}">Entrenar</a>



{% else %}
<div style="background-color:#1F1D4F; height: 100vh">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center fondoFlores py-5"> 
      <div class="col-md-8 col-lg-6 col-xl-4 shadow-lg p-5 my-5 bg-white rounded ">
        <div class="loginform">
          <div class="d-flex justify-content-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Padlock-lightblue.svg" alt="...">
          </div>
          <p>You are not logged in</p>
          <a class="btn btn-primary form-control" href="{% url 'login' %}">Log In</a>
        </div>
      </div>
    </div>
</div>
</div>
{% endif %}

{% endblock %}

